@import "tailwindcss";

@theme{
    --color-primary:oklch(75% 0.183 55.934);
    --color-main-white:oklch(98.7% 0.022 95.277);
    --color-main-black:#362b32;
}

@utility custom-container {
    width: 100%;
    padding-inline:1rem;
    @media (width >= 40rem /* 640px */) {
        max-width: 40rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
        max-width: 48rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
        max-width: 64rem /* 1024px */;
    }
    @media (width >= 80rem /* 1280px */) {
        max-width: 80rem /* 1280px */;
    }
}